<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [3]:
print("Hello, my name is Michelle")

nama = "Michelle"
print("Hello, my name is", nama)

Hello, my name is Michelle
Hello, my name is Michelle

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Eillen memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [6]:
# A
jumlah_kotak = 4
kelereng_per_kotak = 15
jumlah_orang = 12

total_kelereng = jumlah_kotak * kelereng_per_kotak
kelereng_per_orang = total_kelereng // jumlah_orang  # Pembagian kelereng per orang
sisa_kelereng = total_kelereng % jumlah_orang  # Sisa kelereng

print("Setiap teman akan mendapat", kelereng_per_orang, "kelereng")
print("Sisa kelereng:", sisa_kelereng)

# B
hasil = 8 ** (1/3)
print("Hasil dari 8 pangkat 1/3 adalah", hasil)

# C
uang_eillen = 50000
harga_per_paket = 7500

jumlah_paket = uang_eillen // harga_per_paket  # Jumlah paket yang bisa dibeli
kembalian = uang_eillen % harga_per_paket  # Sisa uang/kembalian

print("Eillen dapat membeli", jumlah_paket, "paket kertas binder")
print("Kembalian yang diterima:", kembalian)

Setiap teman akan mendapat 5 kelereng
Sisa kelereng: 0
Hasil dari 8 pangkat 1/3 adalah 2.0
Eillen dapat membeli 6 paket kertas binder
Kembalian yang diterima: 5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [7]:
# String ke integer
string_value = "1000"
int_value = int(string_value)
print(int_value)  # Output: 1000 (integer)

# Float ke integer
float_value = 5.25
int_from_float = int(float_value)
print(int_from_float)  # Output: 5 (integer)

# Integer ke float
int_value = 5
float_from_int = float(int_value)
print(float_from_int)  # Output: 5.0 (float)

# Integer ke string
int_value = 1000
string_from_int = str(int_value)
print(string_from_int)  # Output: "1000" (string)

1000
5
5.0
1000

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [8]:
quote = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
substring = quote[20:31]  # Mengambil karakter dari indeks 20 hingga 30
print(substring)

words_list = quote.split()  # Memisahkan string berdasarkan spasi
print(words_list)

reversed_quote = quote[::-1]  # Membalik string dengan slicing
print(reversed_quote)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama prodi di UC, simpan dalam variabel "Prodi".
2.   Cetaklah panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index prodi ISB

In [10]:
# Membuat tuple dengan nama-nama prodi
Prodi = ("Informatika", "IBM RC", "ISB", "IBM IC", "Accounting", "Fikom")

# Mencetak panjang tuple
panjang_tuple = len(Prodi)
print("Panjang tuple:", panjang_tuple)

# Menggunakan .index() untuk mengetahui posisi/index prodi ISB
index_isb = Prodi.index("ISB")
print("Index prodi ISB:", index_isb)

Panjang tuple: 6
Index prodi ISB: 2

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti makanan yang kosong dengan nama makanan baru (makanan yang mana bebas)

In [11]:
# Membuat list berisi 3 nama makanan kesukaan
favorit = ["Pizza", "Sushi", "Burger"]

# Mencetak nama setiap makanan dalam list satu per satu
for makanan in favorit:
    print(makanan)

# Mencetak kalimat "Aku ingin pesan {nama makanan}" untuk setiap makanan
for makanan in favorit:
    print(f"Aku ingin pesan {makanan}")

# Mengganti salah satu makanan (misalnya Burger tidak tersedia, diganti dengan Pasta)
favorit[2] = "Pasta"

# Mencetak list makanan setelah perubahan
print("Daftar makanan setelah perubahan:", favorit)

Pizza
Sushi
Burger
Aku ingin pesan Pizza
Aku ingin pesan Sushi
Aku ingin pesan Burger
Daftar makanan setelah perubahan: ['Pizza', 'Sushi', 'Pasta']

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [13]:
# Membuat 4 buah set
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 1. Menggabungkan set1 dan set2 dengan menghilangkan duplicates
gabungan = set1.union(set2)
print(gabungan)

# 2. Buktikan bahwa set1 dan set3 tidak mempunyai intersection (output: Boolean)
intersection_check = set1.isdisjoint(set3)
print(intersection_check)

# 3. Buktikan bahwa set4 adalah bagian dari set1 (output: Boolean)
subset_check = set4.issubset(set1)
print(subset_check)

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [14]:
# Meminta inputan dari user berupa jumlah penggunaan listrik (kWh)
penggunaan_kwh = int(input("Masukkan jumlah penggunaan listrik (dalam kWh): "))

# Memastikan penggunaan minimal 100 kWh
if penggunaan_kwh < 100:
    penggunaan_kwh = 100

# Menghitung tarif berdasarkan golongan penggunaan listrik
if penggunaan_kwh < 1000:
    tarif = penggunaan_kwh * 1000  # Golongan 1
else:
    tarif = penggunaan_kwh * 2000  # Golongan 2
    # Menambahkan 10% dari total pembayaran jika >= 1000 kWh
    tarif += tarif * 0.10

# Menampilkan hasil tarif yang harus dibayar
print("Tarif yang harus dibayar adalah: Rp", int(tarif))

Masukkan jumlah penggunaan listrik (dalam kWh): 1500
Tarif yang harus dibayar adalah: Rp 3300000

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [15]:
def hitung_angkot(jumlah_peserta):
    kapasitas_angkot = 10
    if jumlah_peserta < 0:
        return "Jumlah orang tidak bisa negatif!"
    elif jumlah_peserta == 0:
        return 0
    else:
        # Menghitung jumlah angkot yang diperlukan
        jumlah_angkot = (jumlah_peserta + kapasitas_angkot - 1) // kapasitas_angkot
        return jumlah_angkot

# Input jumlah peserta
try:
    jumlah_peserta = int(input("Masukkan jumlah peserta: "))
    hasil = hitung_angkot(jumlah_peserta)
    print("Jumlah angkot yang diperlukan:", hasil)
except ValueError:
    print("Input tidak valid. Harap masukkan angka.")

Masukkan jumlah peserta: 101
Jumlah angkot yang diperlukan: 11

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan rand untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buatlah matriks 3x4 menggunakan numpy array berisi angka 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [20]:
import numpy as np

# 1. Membuat 1D numpy array berisi nama-nama hari dalam satu minggu
hari = np.array(["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"])
print(hari)

['Senin' 'Selasa' 'Rabu' 'Kamis' 'Jumat' 'Sabtu' 'Minggu']

In [21]:
# 2
hari_sorted = np.sort(hari)
print(hari_sorted)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [22]:
import random
# 3
# Mengambil 1 hari secara acak dari array
hari_pilihan = np.random.choice(hari_sorted)

# Menampilkan pesan dengan hari yang terpilih
print(f"Selamat hari {hari_pilihan} adalah hari baikmu bulan ini!")

Selamat hari Sabtu adalah hari baikmu bulan ini!

In [33]:
# 4
matrix_3x4 = np.array([[1, 2, 3, 4],
                       [5, 6, 7, 8],
                       [9, 10, 11, 12]])

# Cetak shape dan dimensi array
print(f"Shape matriks: {matrix_3x4.shape}")
print(f"Dimensi matriks: {matrix_3x4.ndim}")

kolom_ketiga = matrix_3x4[:, 2]

Shape matriks: (3, 4)
Dimensi matriks: 2

In [25]:
# 5
print(f"Elemen kolom ketiga: {kolom_ketiga}")

Elemen kolom ketiga: [ 3  7 11]

In [32]:
# 6

print(matrix_2x6)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [36]:
import pandas as pd

# 1. Membuat Pandas Series dari list
list_hari = ["Information", "Systems", "for", "Business"]
series_hari = pd.Series(list_hari)
print("Pandas Series:")
print(series_hari)

# 2. Membuat Pandas DataFrame dari dictionary
data_dict = { "brand": ["Ford"], "model": ["Mustang"], "year": [1964] }
dataframe = pd.DataFrame(data_dict)
print(" ")
print(dataframe)

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object

  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [37]:
# 3
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menampilkan beberapa baris pertama dari DataFrame
print("DataFrame yang diimpor:")
print(df.head())

# Menampilkan informasi dasar tentang DataFrame
print("\nInformasi DataFrame:")
print(df.info())

DataFrame yang diimpor:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Informasi DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
None

In [39]:
# 4
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)


# Misalnya kolom kota bernama 'City' atau 'State' (ganti dengan nama kolom yang sesuai)
# Menampilkan kota-kota unik yang ada dalam kolom yang mengandung informasi kota
if 'City' in df.columns:
    kota_unik = df['City'].unique()
elif 'State' in df.columns:
    kota_unik = df['State'].unique()
else:
    kota_unik = "Kolom dengan informasi kota tidak ditemukan."

print("\nKota-kota unik:")
print(kota_unik)

Kota-kota unik:
['New York' 'California' 'Florida']

In [40]:
# 5

import pandas as pd 

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Mengambil 10 baris acak dari DataFrame
df_random = df.sample(n=10, random_state=1)  # random_state untuk reproduktifitas

# Menampilkan 5 baris pertama dari DataFrame yang baru
print("5 baris pertama dari dataset yang baru:")
print(df_random.head())

5 baris pertama dari dataset yang baru:
    R&D Spend  Administration  Marketing Spend       State     Profit
27   72107.60       127864.55        353183.81    New York  105008.31
35   46014.02        85047.44        205517.64    New York   96479.51
40   28754.33       118546.05        172795.67  California   78239.91
38   20229.59        65947.93        185265.10    New York   81229.06
2   153441.51       101145.55        407934.54     Florida  191050.39

In [41]:
# 6
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Mengambil 10 baris acak dari DataFrame
df_random = df.sample(n=10, random_state=1)  # random_state untuk reproduktifitas

# Menampilkan informasi singkat dari DataFrame yang baru
print("Informasi DataFrame:")
df_random.info()

Informasi DataFrame:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 27 to 31
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        10 non-null     float64
 1   Administration   10 non-null     float64
 2   Marketing Spend  10 non-null     float64
 3   State            10 non-null     object
 4   Profit           10 non-null     float64
dtypes: float64(4), object(1)
memory usage: 480.0+ bytes

In [44]:
# 7
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Filter data untuk kota 'California'
# Mengasumsikan kolom yang berisi informasi kota bernama 'State' (ubah jika nama kolom berbeda)
df_california = df[df['State'] == 'California']

# Menampilkan kolom 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
df_california_spend = df_california[['R&D Spend', 'Marketing Spend']]
print("\nData 'R&D Spend' dan 'Marketing Spend' untuk kota 'California':")
print(df_california_spend)

Data 'R&D Spend' dan 'Marketing Spend' untuk kota 'California':
    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [47]:
# 8
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menampilkan beberapa baris pertama untuk memeriksa data
print("Beberapa baris pertama dari dataset:")
print(df.head())

# Menampilkan informasi singkat tentang DataFrame
print("\nInformasi DataFrame:")
df.info()

# Mengecek missing values di setiap kolom
missing_values = df.isnull().sum()

print("\nJumlah missing values di setiap kolom:")
print(missing_values)

Beberapa baris pertama dari dataset:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Informasi DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

Jumlah missing values di setiap kolom:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [48]:
# 9
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menampilkan beberapa baris pertama untuk memeriksa data
print("Beberapa baris pertama dari dataset:")
print(df.head())

# Menampilkan informasi singkat tentang DataFrame
print("\nInformasi DataFrame:")
df.info()

# Mengecek ada tidaknya kolom 'Profit'
if 'Profit' in df.columns:
    # Menghapus baris dengan profit di bawah 50000
    df_filtered = df[df['Profit'] >= 50000]

    # Menampilkan beberapa baris pertama dari DataFrame yang sudah difilter
    print("\nBeberapa baris pertama dari DataFrame setelah menghapus data dengan profit di bawah 50000:")
    print(df_filtered.head())

    # Menampilkan informasi tentang DataFrame yang sudah difilter
    print("\nInformasi DataFrame yang sudah difilter:")
    df_filtered.info()
else:
    print("Kolom 'Profit' tidak ditemukan dalam dataset.")

Beberapa baris pertama dari dataset:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Informasi DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

Beberapa baris pertama dari DataFrame setelah menghapus data dengan profit di bawah 50000:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Informasi DataFrame yang sudah difilter:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 45
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        46 non-null     float64
 1   Administration   46 non-null     float64
 2   Marketing Spend  46 non-null     float64
 3   State            46 non-null     object
 4   Profit           46 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.2+ KB

In [50]:
# 10
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menghapus baris dengan profit di bawah 50000
df_filtered = df[df['Profit'] >= 50000]

# Mengurutkan DataFrame berdasarkan 'Marketing Spend' dari yang terbesar ke terkecil
df_sorted = df_filtered.sort_values(by='Marketing Spend', ascending=False)

# Menampilkan beberapa baris pertama dari DataFrame yang sudah diurutkan
print("\nBeberapa baris pertama dari DataFrame setelah diurutkan berdasarkan 'Marketing Spend':")
print(df_sorted.head())

# Menampilkan informasi tentang DataFrame yang sudah diurutkan
print("\nInformasi DataFrame yang sudah diurutkan:")
df_sorted.info()

Beberapa baris pertama dari DataFrame setelah diurutkan berdasarkan 'Marketing Spend':
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Informasi DataFrame yang sudah diurutkan:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 19
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        46 non-null     float64
 1   Administration   46 non-null     float64
 2   Marketing Spend  46 non-null     float64
 3   State            46 non-null     object
 4   Profit           46 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.2+ KB

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction date', 'house age', 'distance to the nearest MRT station', 'number of convinience stores', 'latitude', 'longitude', 'house price of unit area'
5. Cek apakah ada missing values dari masing-masing kolom

In [61]:
# 1
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [62]:
# 2
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Mengambil 10 baris acak dari DataFrame
df_random = df.sample(n=10, random_state=1)  # random_state untuk reproduktifitas

# Menampilkan 10 baris acak
print("10 baris acak dari dataset:")
print(df_random)

10 baris acak dari dataset:
      No  X1 transaction date  X2 house age  \
388  389             2013.500          10.4
102  103             2013.083           1.1
187  188             2013.000           8.9
162  163             2012.750          16.0
90    91             2012.833           0.0
398  399             2013.417          14.7
295  296             2013.167          18.2
397  398             2013.417          13.1
17    18             2012.750          17.7
58    59             2013.500          30.3

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
388                               2251.9380                                4
102                                193.5845                                6
187                               3078.1760                                0
162                               4066.5870                                0
90                                 274.0144                                1
398                               1717.1930                                2
295                               2179.5900                                3
397                               1164.8380                                4
17                                 350.8515                                1
58                                4510.3590                                1

     X5 latitude  X6 longitude  Y house price of unit area
388     24.95957     121.51353                        27.3
102     24.96571     121.54089                        54.4
187     24.95464     121.56627                        22.0
162     24.94297     121.50342                        11.6
90      24.97480     121.53059                        45.4
398     24.96447     121.51649                        23.0
295     24.96299     121.51252                        21.8
397     24.99156     121.53406                        32.2
17      24.97544     121.53119                        37.4
58      24.94925     121.49542                        22.6

In [63]:
# 3
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menampilkan ringkasan statistik dari DataFrame
print("Ringkasan statistik dari DataFrame:")
print(df.describe())

Ringkasan statistik dari DataFrame:
               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [64]:
# 4
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menampilkan nama-nama kolom sebelum diubah
print("Nama-nama kolom sebelum diubah:")
print(df.columns)

# Menghapus kolom 'No'
df = df.drop(columns=['No'])

# Mengubah nama kolom
df.columns = [
    'transaction date', 
    'house age', 
    'distance to the nearest MRT station', 
    'number of convenience stores', 
    'latitude', 
    'longitude', 
    'house price of unit area'
]

# Menampilkan nama-nama kolom setelah diubah
print("\nNama-nama kolom setelah diubah:")
print(df.columns)

# Menampilkan beberapa baris pertama dari DataFrame yang telah diubah
print("\nBeberapa baris pertama dari DataFrame yang telah diubah:")
print(df.head())

Nama-nama kolom sebelum diubah:
Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

Nama-nama kolom setelah diubah:
Index(['transaction date', 'house age', 'distance to the nearest MRT station',
       'number of convenience stores', 'latitude', 'longitude',
       'house price of unit area'],
      dtype='object')

Beberapa baris pertama dari DataFrame yang telah diubah:
   transaction date  house age  distance to the nearest MRT station  \
0          2012.917       32.0                             84.87882
1          2012.917       19.5                            306.59470
2          2013.583       13.3                            561.98450
3          2013.500       13.3                            561.98450
4          2012.833        5.0                            390.56840

   number of convenience stores  latitude  longitude  house price of unit area
0                            10  24.98298  121.54024                      37.9
1                             9  24.98034  121.53951                      42.2
2                             5  24.98746  121.54391                      47.3
3                             5  24.98746  121.54391                      54.8
4                             5  24.97937  121.54245                      43.1

In [65]:
# 5
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menghapus kolom 'No'
df = df.drop(columns=['No'])

# Mengubah nama kolom
df.columns = [
    'transaction date', 
    'house age', 
    'distance to the nearest MRT station', 
    'number of convenience stores', 
    'latitude', 
    'longitude', 
    'house price of unit area'
]

# Mengecek missing values di setiap kolom
missing_values = df.isnull().sum()

print("Jumlah missing values di setiap kolom:")
print(missing_values)

Jumlah missing values di setiap kolom:
transaction date                       0
house age                              0
distance to the nearest MRT station    0
number of convenience stores           0
latitude                               0
longitude                              0
house price of unit area               0
dtype: int64

## **Goodluck :)**